body{
    background:grey;
}
#yinyang{
    width: 200px;
    height:200px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #ffffff 1%,#ffffff 50%,#000000 51%,#000000 100%);
    position: relative;
    margin: 100px auto;
}
#yinyang::before{
    content:"";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top:50px;
    left: 0;
    border:40px solid black;
}
#yinyang::after{
    content:"";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top:50px;
    right: 0;
    border:40px solid white;
}
