* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

kbd {
    border: 1px solid red;
    width: 4em;
    height: 4em;
    /*为了让按键定型，不得已定死了宽度、高度*/
    display: inline-block;
    /*kbd是内联元素，为了让上面的宽高生效，变成inline-block元素*/
    text-transform: uppercase;
    /*将小写字母变为大写字母*/
    position: relative;
}

kbd > button {
    position: absolute;
    /*调整button按钮在按键中的位置*/
    right: 0;
    bottom: 0;
    display: none;
    /*鼠标hover按键时，button才出现*/
}

kbd:hover>button {
    display: inline-block;
    /*button就是inline-block元素*/
}

/*模拟键盘造型*/
#main>div:nth-child(2) {
    margin-left: -35px;
}

#main>div:nth-child(3) {
    margin-left: -110px;
}

#main {
    display: inline-block;
}

.wrapper{
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
}

body {
    background: grey url(./wall.jpg) no-repeat center center;
    background-size: cover; /*壁纸大小自适应*/
}

/*让键盘居中，内联元素：父元素上加text-align:center*/
main {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.key {
    width: 50px;
    height: 40px;
    background: linear-gradient(to bottom, #292929 1%, #111111 100%);
    border: 1px solid #373737;
    color: #c5c5c5;
    border-radius: 6px;
    box-shadow: 0 0 0 1px #1a1b1c, 0 0 0 2px #1f2020, 0 3px 0 2px #080808;
    font-size: 16px;
    font-family: helvetica;
    position: relative;
}

.key img{
    width: 16px;
    height: 16px;
    position: absolute;
    left: 4px;
    bottom: 2px;
}

.row {
    margin: 20px 0;
}

.row .key {
    margin: 0 10px;
}

.key .text{
    position: absolute;
    left: 4px;
    top:2px;
}